#logo {
    max-height: 165px;
}

mat-form-field {
    width: 100%;
}

.my-container {
    padding: 10px 40px;
    // border: 1px solid #f9a1a3;
}

.carousel-container {
    text-align: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    img {
        max-height: 600px;
        width: 100%;
        max-width: 800px;
    }
}

.pink-bar {
    min-height: 50px;
    background-color: #f9a1a3;
    text-align: center;
}

.option {
    width: 100%;
    min-height: 50px;
    font-weight: bolder;
    cursor: pointer;
}

.option:hover {
    background-color: rgba($color: white, $alpha: 0.2);
}

.pink-color {
    color: #f9a1a3;
}

.carousel-caption {
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.frete-img {
    max-width: 100px;
}

footer {
    padding: 10px 40px;
    max-height: 100px;
}

@media only screen and (max-width: 1000px) {
    .my-container {
        padding: 10px 0;
    }
}
