<div class="my-container">
  <header>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between end"
      fxLayoutAlign.lt-md="space-between center" fxLayoutGap="40px">
      <div fxFlex="40" fxFlex.lt-md="100" id="search">
        <mat-form-field>
          <mat-icon [ngClass]="paintSearchIcon ? 'pink-color' : 'none-color'" matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="Buscar" class="search-input" (blur)="searchOnBlur()"
            (focus)="searchOnFocus()">
        </mat-form-field>
      </div>
      <div fxFlex="60" fxFlex.lt-md="100">
        <img id="logo" [src]="logoImg" alt="">
      </div>
    </div>
    <br>
    <div class="pink-bar" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center stretch"
      fxLayoutAlign.lt-sm="none stretch" fxLayoutGap="0">
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="center" class="option"
        *ngFor="let option of options" (click)="clickedOption(option)">
        <span fxFlex="stretch">{{ option.title }}</span>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer class="pink-bar" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
    <div fxFlex="initial">
      <img class="frete-img" [src]="freteImg" alt="">
    </div>
    <div fxLayout="row" fxLayoutGap="40px" fxFlex="nogrow">
      <mat-icon fxFlex svgIcon="instagram"></mat-icon>
      <mat-icon fxFlex svgIcon="twitter"></mat-icon>
    </div>
  </footer>
</div>