.product-img {
    width: 100%;
}

.buy-button {
    font-size: larger;
    width: 100%;
    margin: 10px;
}

.frete-gratis {
    border: 1px solid green;
    color: green;
    padding: 5px;
    border-radius: 20%;
}

